<html>
	<head>
		<title>index</title>
		<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 		<link rel="stylesheet" href="/css/main.css">
	</head>


	<body>
		<div id='alert'>
			<div id='alertText'></div>
			<button class="btn btn-primary" id='alertYse' type='text'>Yse</button>
			<button class="btn btn-primary" id='alertNo' type='text'>No</button>
			</div>
		<div id='alertbackground'></div> 

		<div id='alert2'>
			<div id='alertText2'></div>
			<button  class="btn btn-primary" id='alertYse2' type='text'>Yse</button>
			<button class="btn btn-primary" id='alertNo2' type='text'>No</button>
		</div>

		<div id='alertbackground2'></div> 
		<div id='wrapper'>

			<%if(entry!==''){%>
				<div class="alert alert-warning" role="alert">
				<a href="#" class="close" data-dismiss="alert">&times;</a>
				 <img src='/img/warning.png'/><strong>Warning!</strong><%=entry%>
				</div>
			<%}%>

			<div class="alert alert-warning valid" role="alert">
				<a href="#" class="close close1" >&times;</a>
				<img src='/img/warning.png'/><strong>Warning!</strong><p id='massage'></p>
			</div>


			<form class="form-horizontal" id='insert' method='post' action='/'>
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">Item</label>
					<div class="col-sm-5">
					    <input id='item' name='item' placeholder='Item' class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword3" class="col-sm-2 control-label">Quantity</label>
					 <div class="col-sm-5">
					    <input  class="form-control" id='quantity' name='quantity' placeholder='quantity'>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-0 col-sm-9">
					    <button type="submit" class="btn btn-primary" class="btn btn-default" id='submit' name='add'>Add-to-Cart</button>
					</div>
				</div>
			</form>

			<h5>(**You can edit the "item name" OR "quantity" in the table by seleting it, after editing click update button to make the changes)</h5>



			<form  action='/modify' method='post'>
				<table class="table table-hover" >
					<tr>
						<th>item</th>
						<th>quentity</th>
						<th colspan='2'><button  class="btn btn-danger" id='deleteall'>Clear All</button></th>
					</tr>

					<%for(i=0;i<table.length;i++){%>
						<tr>
							<form id='update' action='/update' method='post'>
								<td><input id='tableitem' name='item' type='text' value=<%=table[i].item%>></td>
								<td><input id='tablequantity' name='quantity' type='text' value=<%=table[i].quantity%>></td>
								<td><button class= 'btn btn-warning  delete' id=<%=table[i]._id%>>
										delete</button></td>
								<td><button  type='submit' class='btn btn-success update up1' id=<%=table[i]._id%>>
											update</button></td>
								<input name='hidden' type='hidden'  value=<%=table[i]._id%>>
							</form>
						</tr>
					<%}%>
				</table>
			</form>
		</div><!--wrapper div-->
		<div class="header">
			<h1 id='headText'>Shopping List</h1>
		</div>
	</body>

	<script src="/javascript/jquery-1.11.3.js" type="text/javascript"></script>
	<script src="/javascript/main.js" type="text/javascript"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
	<script>
			$('document').ready(function(){
				var ids=<%-JSON.stringify(id)%>;
				// console.log($('#'+ids).parent().parent());
				$('#'+ids).parent().parent().css('background','orange');
				// $('#'+ids).parent().parent().children().css('background','none');
				$('.header').css('width',$(window).width());
				$('.headText').css('margin','auto');
			});
	</script>

</html>